$backgroundColor: rgb(255, 255, 255);
$chromeColor: rgb(57, 101, 159);
$chromeColor2: rgb(111, 112, 114);
$chromeColor3: rgb(180, 190, 195);
//$bubbleColor: rgba(221, 74, 159, 0.808);
$bubbleColor: rgb(180, 190, 195);
$textColor: rgb(16, 19, 24);
$linkColor: rgb(190, 0, 110);

.chatroom {
  width: 100%;
  height: 600px;
  color: $textColor;
  max-height: 90vh;
  background-color: $backgroundColor;
  border-radius: 2.125rem; //1.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  letter-spacing: normal;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0,0,0,0.16);
  transition: height 0.7s ease-in-out, visibility 0.7s linear;

  * {
    box-sizing: border-box;
  }

  &.closed {
    visibility: hidden;
    height: 0px;
  }

  h3 {
    background-color: $backgroundColor;
    color: $chromeColor; //rgb(253, 253, 254);
    margin: 0;
    height: 40px;
    font-family: "Museo Sans",Helvetica,Verdana,Arial,sans-serif;
    font-weight: 600;
    //font-size: 1.125rem;
    font-size: 1.875rem;;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .chats {
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    height: calc(100% - 80px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-color: 2px solid $textColor;

    .chat {
      background: $backgroundColor;
      position: relative;
      padding: 1.25rem;
      font-family: "Open Sans",Helvetica,Verdana,Arial,sans-serif;
      font-size: 14px;
      border-radius: 10px;
      list-style: none;
      float: left;
      clear: both;
      margin: 10px 0 0 0;
      max-width: 90%;

      img {
        max-width: 100%;
        vertical-align: middle;
      }

      &.left {
        border-bottom-left-radius: 0;
        border-color: 2px solid $textColor;
      }

      &.right {
        float: right;
        clear: both;
        border-bottom-right-radius: 0;
        border-color: 2px solid $textColor;
      }

      .text {
        word-wrap: break-word;
        color: $chromeColor;
      }

      &.chat-img {
        padding: 5px;
        border-color: none;
      }

      a {
        text-decoration: none;
        color: $linkColor;
      }

      ul,
      ol {
        margin: 0;
        padding-left: 1.5em;
      }
      ul li,
      ol li {
        padding-left: 0;
      }

      &.waiting {
        margin: 10px 0;
        background: transparent;
        padding: 0;

        @keyframes fade {
          from {
            opacity: 1;
          }

          to {
            opacity: 0.3;
          }
        }

        span {
          font-size: 1.5em;
          animation-name: fade;
          animation-duration: 0.8s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in-out;
        }
        span:nth-child(1) {
          animation-delay: 0s;
        }
        span:nth-child(2) {
          animation-delay: 0.4s;
        }
        span:nth-child(3) {
          animation-delay: 0.8s;
        }
      }
    }

    .time {
      list-style: none;
      clear: both;
      height: 10px;
      font-size: 10px;
      color: desaturate($textColor, 50%);
      margin: 5px 0 20px 0;

      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }

    .chat-buttons {
      position: relative;
      padding: 0;
      font-size: 14px;
      list-style: none;
      clear: both;
      margin: 10px 0;
      text-align: center;

      .chat-button {
        display: inline-block;
        transition: all 0.3s ease;
        cursor: pointer;
        margin: 3px;

        background-color: $chromeColor;
        color: $chromeColor2;
        border: 2px solid $chromeColor2;
        padding: 5px 10px;
        letter-spacing: normal;
        border-radius: 5px;

        &:hover,
        &.chat-button-selected {
          background-color: rgba($chromeColor, 0.6);
          color: $chromeColor2;
        }
        &.chat-button-disabled {
          color: $chromeColor3;
          border: 2px solid $chromeColor3;
        }
      }
    }
  }

  .input {
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0 5px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="text"] {
      background-color: $bubbleColor;
      outline: 0;
      border: 2px solid $textColor;
      border-right: none;
      color: $textColor;
      padding: 0 5px;
      border-top-left-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      height: 30px;
      flex: 4;
      box-sizing: border-box;
      font-size: 14px;
      transition: background-color 0.2s ease;

      &:focus {
        box-shadow: none;
        background-color: white;
      }
    }

    input[type="submit"] {
      display: inline-block;
      background: $backgroundColor;
      border: 2px solid $textColor;
      color: $textColor;

      font-family: "Museo Sans",Helvetica,Verdana,Arial,sans-serif;
      padding: 0 5px;
      //padding: 1.25rem 3rem 1rem;
      border-radius: 3.125rem;
      border-top-left-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      border-bottom-right-radius: 1.25rem;
      font-size: 1rem;
      position: relative;
      transition: 0.2s all ease-in-out;

      height: 30px;
      min-width: 70px;
      line-height: 1;
      text-align: match-parent;

      font-size: 12px;
      flex: 1;
      box-shadow: none;
      cursor: pointer;
      transition: all 0.3s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      outline: none;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        background: $bubbleColor;
      }
    }
  }

  #speech-input {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    background: $backgroundColor;
    border: 2px solid $textColor;
    color: $chromeColor;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: $bubbleColor;
    }
  }

  .vertical-center {
    vertical-align: middle;
  }
}
